* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dad7cd;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a3b18a;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 5px;
}

.logo {
    font-size: 5vmin;
    margin-left: 1rem;
    margin-right: 10vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 5vmin;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-style: italic;
}

nav ul li a:hover {
    color: wheat;
}

main {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.leftSection {
    font-size: 1.5rem;
    height: auto;
    flex-wrap: wrap;
    flex-basis: 50%;
}

.rightSection {
    flex-basis: 50%;
}

.rightSection img {
    border-radius: 50%;
    height: auto;
    width: 75%;
    display: block;
}

#element {
    color: #023047;
}

footer {
    background-color: #a3b18a;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vh;
    margin-right: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 1rem;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
    header {
        padding: 2px 2px;
        height: 30px;
    }

    .logo {
        font-size: 1rem;
        margin: 0;
    }

    .index {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        margin: 1vmin;
        font-size: 0.8rem;
    }

    .leftSection {
        height: 80vh;
        align-content: center;
        padding: 5vh 3vh;
        font-size: 2rem;
    }

    .rightSection {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 8vh;
    }

    .name {
        display: block;
    }

    #element {
        display: block;
    }

    .socials {
        width: 140px;
        margin: 0;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.project {
    background-color: #588157;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #023047;
}

.project p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #a2d2ff;
}

.project a {
    display: inline-block;
    background-color: #3a5a40;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #ce6f02;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0 20px;
    }

    .project {
        padding: 15px;
        margin-top: 2vh;
    }

    .project h2 {
        font-size: 1.4em;
    }

    .project p {
        font-size: 0.9em;
    }

    .project a {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .project img{
        width: 290px;
    }
}